<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Buscar</ion-label>
    <ion-input type="text" [(ngModel)]="search" (keyup)="filter()"></ion-input>
  </ion-item>

  <div *ngFor="let place of places; index as i">
    <ion-card>
      <img src="{{place.image}}">
      <ion-card-header>
        <ion-card-title>{{place.title}}</ion-card-title>
        <ion-card-subtitle>{{place.subtitle}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{place.description}}

        <ion-chip color="success" *ngIf="place.active">
          <ion-label>Activo</ion-label>
        </ion-chip>
        <ion-chip color="danger" *ngIf="!place.active">
          <ion-label>Inactivo</ion-label>
        </ion-chip>

        <ion-button (click)="deletePlace(i)" color="danger">
          Eliminar
        </ion-button>

        <ion-button (click)="changeStatus(i)" color="warning">
          Cambiar Estatus
        </ion-button>



      </ion-card-content>

    </ion-card>
  </div>
</ion-content>